@use '../../scss/' as *;

input{
    border: 0;
    background-color: $white;
    padding: .5rem 1.5rem;
    color: $black;
    border-radius: 16px;
    font-size: 1rem;
    height: $search-height;
    width: $width-input;

    &:focus,&:hover{
        border: 2px solid #00ff00;
    }
}