@use '../../../scss/' as *;


.logo{
    position: absolute;
    font-size: 2rem;
    z-index: 99;


    @include mobile{
        font-size: 3rem;
        width: 20%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        transform: translateY(-14%);
    }

    @include tablet{
        transform: translateY(-18%);

    }
    img{
        @include mobile{
            // position: relative;

            // display: block;

            width: 56%;
            @include flex(center, center);

        }
        transform: translateY(36%);
        margin-right: 10px;
        width: 76px;
       
    }
}


.header{
    background: url('https://cinestar.com.vn/catalog/view/theme/default/images/bg-body.png') repeat-y left top;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    color: $white;
    padding: 0 3rem;

    &.shrink{
        // height: $header-shrink-height;
        background-color: $body-bg;
    }

    &__warp{
        position: relative; 
        display: block;
        max-width: 1300px;
        width: 90%;
        margin: 0 auto;
        height: 100%;

    }
    &-search{
        display: block;
        width: auto;
        height: auto;
        margin: 0 0 21px 0;
        position: relative;
        text-align: right;

        transform: translateY(28%);
        padding: 5px 0;
        font-size: 1.5rem;
        font-weight: $font-weight;
    }

   

    &__nav{
        position: relative;
        text-align: right;

        @include tablet{
            display: none;
        }

        .nav{
            width: 65%;
            position: relative;
            display: inline-block;
            padding: 3px;
            border: 1px solid #e00d7a;
            border-radius: 30px;
            
        }
        
        ul{

            position: relative;
            background-color: #e00d7a;
            border-radius: 30px;
            overflow: hidden;
            padding: 1px;
        }
        .option{
            position: absolute;
            display: inline-block;
            right: 0;
        }
        li{
            Button{
                position: absolute;
                right: 0;
            }
            float: left;
            height: 42px;
            background: none;
            font-size: 1.5rem;

            a{
                display: block;
                padding: 0 15px;

                span{
                    font-weight: normal;
                    font-size: 18px;
                    text-transform: uppercase;
                    text-align: center;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                }
            }
        }

        &--icon{
            display: inline;
            margin-right: 10px;
        }

    }


    .bars{
        
        position: relative;
        text-align: right;
        color: $white;
        font-size: 3rem;
        display: none;

        @include mobile{
            position: absolute;
            top: 0;
            right: -10%; 
        }
        @include tablet{
            display: block;
            margin-right: 2rem;
            transform: translateY(20%);
        }

        &:hover{
            color: $main-color;
        }
    }



}