$body-bg: #0f0f0f;
$main-color: #ff6767;
$txt-color: #fff;

$black: #121111;
$white: #f5f5f5;


$header-height: 8rem;
$border-radius: 30px;
$header-shrink-height: 5rem;

$search-top-spacer: 1px;
$search-height: 35px;
$width_search-btn: 40px;
$width-input: 356px;
$width-button: 130px;