$body-bg: #0f0f0f;
$main-color: #ff6767;
$txt-color: #fff;
$txt-color2: rgb(224,13,122);
$bg-content: #f18720;

$font-weight: 600;

$black: #121111;
$white: #fff;
$red: #E71A0F;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


$sidebar-width: 204px;
$header-height: 8rem;
$border-radius: 8px;
$header-shrink-height: 5rem;
$margin-bottom: 26px;

$search-top-spacer: 1px;
$search-height: 35px;
$width_search-btn: 40px;
$width-input: 476px;
$mobile-width: 680px;
$tablet-width: 1140px;

$width-button: 130px;




// ADmin page

$admin-header: #F4F5F7;